NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/Five_5TechCambodia
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJka2dwdWlod2d6dHF6dGJoZm9mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE3MTU5MywiZXhwIjoyMDk0NzQ3NTkzfQ.FofjD0wxi5B0FThZMmx8iI2ev0Qwx7WAq9UYUPf3ePg
NEXT_PUBLIC_STORE_PHONE=+85512345678
NEXT_PUBLIC_STORE_EMAIL=hello@5techstore.com
NEXT_PUBLIC_STORE_FACEBOOK=https://facebook.com/yourpage
NEXT_PUBLIC_STORE_LOCATION=Phnom Penh, Cambodia
ADMIN_ACCESS_TOKEN=change-this-secret
